<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Beseech Me</title>
  <meta name="description" content="Beseech Me">
  <meta name="viewport" content="width=device-width, initial-scale=1,  maximum-scale=1, user-scalable=0/">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" type='text/css' href="styles/main.css">
  <link rel="stylesheet" type='text/css' href="CustomDropDownListStyling/css/style.css">

  <link rel="stylesheet" type='text/css' href="bower_components/pickadate/lib/themes/default.css">
  <link rel="stylesheet" type='text/css' href="bower_components/pickadate/lib/themes/default.date.css">
  <link rel="stylesheet" type='text/css' href="noUiSlider/nouislider.css">

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900,100italic,300italic,400italic,500italic,700italic,900italic" rel="stylesheet" type="text/css">
</head>
<body>

<div id='application'></div>


<!-- Application View -->

<script type="text/template" id="application-view">

  <% var user = Parse.User.current() %>


  <header>
    <div class="header-container">
      <div class="header-left">
        <aside>        
          <div id="ddAlt" class="wrapper-dropdown-6">
            <span>Dashboard</span>
            <ul class="dropdown">
              <li><a href="#dashboard"><i class="fa fa-dashboard"></i>Home</a></li>
              <li><a href="#backend/feed"><i class="fa fa-cog"></i>Following</a></li>
            </ul>
          </div>
        </aside
        ><section><li id="search-trigger"><i class="fa fa-search"></i></li></section>

      </div
      ><div class="header-center">
 
      </div
      ><div class="header-right">

      </div>  

    </div>
  </header>
  <div class="search-container">
    <div class="bar-search">
      <form name='bar-search' action>
        <section>
          <span class="fa fa-search"></span
          ><input type="text" placeholder="Search"
          ><i class="fa fa-times-circle"></i>
        </section
        ><aside>
          <select name='user-type'>
            <option value='business'>Bars</option>
            <option value='consumer'>Users</option>
          </select
          ><div id="dd" class="wrapper-dropdown-2">
            <span>User Type</span>
            <ul class="dropdown">
              <li><i class="icon-bookmark icon-large"></i>Business</li>
              <li><i class="icon-user icon-large"></i>Friends</li>
            </ul>
          </div
          ><button id="bar-submit"><i class="fa fa-search"></i></button>
        </aside>
      </form>
    </div> 
  </div>
  <div class="search-results-wrap">
    <div class="search-results-container">
    </div>
  </div>

  <div class="body-container"></div>
</script>


<!-- Index Route -->
<script type='text/template' id='index-route'>

  <div class="dashboard-container">
    <div class="login-container">

      <div class="login-welcome"><h1>Welcome.</h1> <p>Please log in.</p></div>
      <div class="login-form">
    
        <form action="">

          <li>
            <input type="text" name="email" placeholder="Email Address">
          </li>
          <li>
            <input type="password" name="password" placeholder="Password">
          </li>
          <input type="checkbox" value="signedIn"><p>Remember Me?</p>
          <button>Sign In</button>

        </form>
      </div>
      <div class="register-link">
        <li><a href="#forgot">Forget your email or password?</a></li>
        <button>Register</button>
      </div>

    </div>
  </div>

</script>


<!-- Business Register Route -->
<script type='text/template' id='business-register-route'>
  <div class="index-container">
    <div class="login-welcome"><h1>Welcome.</h1> <p>Please register your business.</p></div>

    <div class="login-container">
      <form action="">
        <li>
          <span class="fa fa-bookmark"></span
          ><input type="text" name="business-name" placeholder="Business Name">
        </li>
        <li>
          <span class="fa fa-user"></span
          ><input type="text" name="first-name" placeholder="Name">
        </li>
        <li>
          <span class="fa fa-envelope"></span
          ><input type="text" name="email" placeholder="Email">
        </li>
        <li>
          <span class="fa fa-at"></span
          ><input type="text" name="handle" placeholder="Handle">
        </li>
        <li>
          <span class="fa fa-lock"></span
          ><input type="password" name="password" placeholder="Password">
        </li>
        <li>
          <span class="fa fa-lock"></span

          ><input type="password" class="confirm-password" name="confirm-password" placeholder="Confirm Password">

        </li>

        <button>Register</button>
      </form>
    </div>


  </div>
</script>

<!-- Consumer Register Route -->
<script type='text/template' id='consumer-register-route'>
  <div class="index-container">
    <div class="login-welcome"><h1>Welcome.</h1> <p>Please register your personal account.</p></div>

    <div class="login-container">
      <form action="">

        <li>
          <span class="fa fa-user"></span
          ><input type="text" name="first-name" placeholder="Name">
        </li>
        <li>
          <span class="fa fa-envelope"></span
          ><input type="text" name="email" placeholder="Email Address">
        </li>
        <li>
          <span class="fa fa-lock"></span
          ><input type="password" name="password" placeholder="Password">
        </li>
        <li>
          <span class="fa fa-lock"></span
          ><input type="password" name="confirm-password" placeholder="Confirm Password">
        </li>

        <button>Register</button>
      </form>
    </div>

  </div>
</script>

<!-- Bar Backend View -->

<script type="text/template" id="backend-view">

  <% var user = Parse.User.current() %>

  <div class="business-tabs-container">
    <div class="business-tabs">
      <ul>
        <a href="#backend"><section><h1>Backend</h1></section></a
        ><a href="#backend/feed"><section><h1>Feed</h1></section></a
        ><a href="#backend/beer"><section><h1>Beer Menu</h1></section></a
        ><a href="#backend/calendar"><section><h1>Calendar</h1></section></a
        ><a href="#backend/settings"><section><h1>Settings</h1></section></a>
      </ul>
    </div>
  </div>

</script>

<!-- <div class="one-column-container">

    <div class="error-container">
      <p>Sorry, you dont have access to this page</p>
      <a href="#dashboard"><div class="back-to-dashboard"><h1>Back to Dashboard</h1></div></a>
    </div>
  </div> -->

<!-- Backend Home View -->

<script type="text/template" id="backend-home-view">

<% if (Parse.User.current().get('userType') === 'business') { %>

    <div class="left-column">


    </div
    ><div class="middle-column">
      <% var user = Parse.User.current(); %>

        <div class="business-cover">
          <% if (typeof user.get('coverPhoto') !=='undefined') { %>
            <img src=<%= user.get('coverPhoto')._url %> >
            <% } else { %>
            <img src="images/craft2.jpg">
          <% } %>
        </div>


    </div>

<% } %>

</script>

<!-- backend Feed View -->

<script type='text/template' id='status-post-view'>

  <section class="feed-post">
    <% var user = attributes.createdBy %>

    <section class="feed-info">
        <aside>
          <% if (typeof user.get('avatar') !=='undefined') { %>
            <img src=<%= user.get('avatar')._url %> >
          <% } else { %>
            <img src="images/default-avatar.png">
          <% } %>
        </aside

        ><section><h1><%= user.attributes.businessName %></h1><h3><%= user.attributes.address %></h3></section

        ><footer><span class='likes'></span></footer>

    </section>

    <% if (typeof attributes.image !== 'undefined') { %>
      <section class="feed-photo">
        <a target='_blank' href=<%= attributes.image._url %> >
          <img src=<%= attributes.image._url %> />
        </a>
      </section
      ><section class="feed-caption">
        <aside>
          <p><%= attributes.content %></p>
        </aside>
      </section>
    <% } else { %>
      <section class="feed-content">
        <aside>
          <p><%= attributes.content %></p>
        </aside>
      </section>

    <% } %>
    
    <section class="feed-statistics">
      <p><%= moment(createdAt).fromNow(true) %> ago</p><span class='likes'></span> <p>Likes</p>
    </section>
    <% if (Parse.User.current().get('userType') === 'consumer') { %>
      <section class="feed-controls">
        <li><span class="entypo-thumbs-up"></span><h1 class='like-button'>Like</h1></li
        ><li><span class="entypo-star"></span><h1 class='follow'>Follow</h1></li
        ><li><span class="entypo-trash"></span><h1 class='delete-status'>Remove</h1></li>
      </section>
    <% } else { %>
    <% } %>

  </section>
</script>

<script type="text/template" id="backend-feed-view">

  <div class="dashboard-container">
      <div class="left-column">
            <div class="popup-tabs">
              <li class="active-tab"><aside><span class="entypo-comment"></span></aside><section><p>Text</p></section></li
              ><li><aside><span class="entypo-picture"></span></aside><section><p>Photo</p></section></li
              ><li><aside><span class="entypo-video"></span></aside><section><p>Video</p></section></li
              ><li><aside><span class="entypo-calendar"></span></aside><section><p>Event</p></section></li>
            </div>

            <div class="post-status-text">
              <form action="">
                <article>
                  <aside><img src="images/zas-logo.jpg"><h1>taull</h1></aside>
                  <input type="text" placeholder="Title" />
                </article>
                <textarea id="business-status" rows="1" autoresize=true required=true placeholder="Your text here"></textarea
                ><section>

                  <input type="file" id="camera-file" />
                </section
                ><footer>
                  <div>
                    <button type="submit">Post</button
                    
                  </div>
                </footer>

              </form>
            </div>

        <div class="backend-statistics">
          <li><h1 class='follow-number'></h1><p class='follow-text'></p></li
          ><li><h1>156</h1><p>Status Updates</p></li
          ><li><h1>24</h1><p>Beers on Tap</p></li>
        </div>

          <button class="standalone_open"><span class="entypo-feather"></span></button>


        <!-- Add content to the popup -->
          <div id="standalone">
            <div class="popup-tabs">
              <li class="active-tab"><aside><span class="entypo-comment"></span></aside><section><p>Text</p></section></li
              ><li><aside><span class="entypo-picture"></span></aside><section><p>Photo</p></section></li
              ><li><aside><span class="entypo-video"></span></aside><section><p>Video</p></section></li
              ><li><aside><span class="entypo-calendar"></span></aside><section><p>Event</p></section></li>
            </div>

          </div>
      </div
      ><div class="middle-column">



        <div class="post-status-text">
          <form action="">
            <article>
              <aside><img src="images/zas-logo.jpg"><h1>taull</h1></aside>
              <input type="text" placeholder="Title" />
            </article>
            <textarea id="business-status" rows="1" autoresize=true required=true placeholder="Your text here"></textarea
            ><section>

              <input type="file" id="camera-file" />
            </section
            ><footer>
              <aside><button class="standalone_close"><p>Cancel</p></button></aside
              ><div>
                <button type="submit">Post</button
                
              </div>
            </footer>

          </form>
        </div>

        <div class="bar-feed">
          <ul>
          </ul>
        </div><!-- END PROFILE FEED -->

        <div class="copyright-info">
          <h1>English (US) · Privacy · Terms · Cookies · Advertising</h1>
          <p>Beseech Me®, LLC</p>
        </div>
      </div
      ><div class="right-column">

      </div>

  </div>


</script>


<script type='text/template' id="backend-beer-list-view">

    <% if (typeof abv == 'undefined') {%>
      <%  var abv = "Unknown"  %>
    <% } %>
    <aside>
      <% if (typeof labels !== 'undefined') { %>
            <img src=<%= labels.icon %> />

          <% } else { %>
            <img src="images/default-avatar.png">
          <% } %>
    </aside
    ><div>
      <h1><%= name%></h1><span class="fa fa-minus-circle" id="delete-beer"></span>
      <% if (typeof breweries !== 'undefined') { %>
      <p><%= breweries[0].name %> | <%= abv %>% abv</p>
      <% } %>
    </div>

</script>

<!-- <h3><%= style.name %></h3> -->

<!-- backend Beer View -->

<script type="text/template" id="backend-beer-view">

  <div class="dashboard-container">
    <div class="left-column">
    </div
    ><div class="middle-column">



      <div class="narrow-container">
        <% var user = Parse.User.current(); %>

        <div class="profile-beer-tabs">
          <li id="backend-draft-tab" class="active-beer-type tabs-loading">
            <h1>Draft Beer</h1>
          </li

          ><li id="backend-add-beer" >
            <i class="fa fa-plus-circle"></i>
          </li

          ><li id="backend-bottle-tab" class="active-beer-type tabs-loading">
            <h1>Bottled Beer</h1>
          </li>
        </div
        ><div class="beer-search-container">
          <div class="beer-search">
            <form action>
              <section>
                <span class="fa fa-search"></span
                ><input type="text" placeholder="Search by Name or Brewery"
                ><i class="fa fa-times-circle"></i>
              </section
              ><aside>
                <button id="beer-submit">Search</button>
              </aside>
            </form>
          </div>
        </div>

      </div

      ><div class="wide-container">

        <a href="#backend/beer" class="beer-results-cancel">
          <div>
            <h1>Cancel</h1>
          </div>
        </a

        ><div class="beer-loading hidden">
          <!-- 1 -->
          <div class="loader" title="0">
            <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="30px" height="30px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
            <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
              s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
              c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
            <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
              C22.32,8.481,24.301,9.057,26.013,10.047z">
              <animateTransform attributeType="xml"
                attributeName="transform"
                type="rotate"
                from="0 20 20"
                to="360 20 20"
                dur="0.5s"
                repeatCount="indefinite"/>
              </path>
            </svg>
          </div>

        </div

        ><div class="profile-beer-list">
          <ul>
          </ul>
          <div class='load-more-button hidden'>
            <h1>Load More</h1>
          </div>
        </div

        ><div class="copyright-info">
          <h1>English (US) · Privacy · Terms · Cookies · Advertising</h1>
          <p>Beseech Me®, LLC</p>
        </div>

      </div>

    </div
    ><div class="right-column">





    </div>
  </div>
</script>

<!-- backend DayView -->

<script type="text/template" id='backend-day-view'>
  <section><div id="seven-day-1"><%= attributes.date.format('ddd') %></div><div id="seven-month-1"><%= attributes.date.format('MMM Do') %></div></section>
  <aside>  <% if (typeof attributes.models !== 'undefined') { %><span class="fa fa-ellipsis-h"></span> <% } %></aside>
</script>

<script type='text/template' id="comment-view">
  <section>

    <aside>
      <p><%= attributes.content %></p
      ><% if (typeof attributes.dayOfWeek !== 'undefined') { %><h1>Every <%=moment().day( attributes.dayOfWeek ).format("dddd")%></h1><% } else { %><h1><%= moment(attributes.date).format("MMM Do, YYYY") %></h1><% } %>
    </aside>

  </section
  ><article class="comment-controls">
      <button class="delete-comment"><i class="fa fa-close"></i></button>
    </article>
</script>
<!-- backend Calendar View -->

<script type="text/template" id="backend-calendar-view">
  <div class="dashboard-container">
      <div class="middle-column">

        <div class="wide-container">
          <% var user = Parse.User.current(); %>

          <div class="add-weekly-comment">
            <form action="">

              <li>
                <input type="text" class="input-comment" name="content" placeholder="Add Comment...">

              </li

              ><li>

                <label class="radio-label" for="checkbox-date">
                  <input type="radio" name="select-comment" id="checkbox-date">
                  <input class="datepicker input-date" name="date" type="text" placeholder="Choose a Date">
                </label>

              </li

              ><li><p>Or</p></li

              ><li>
                <label class="radio-label" for="checkbox-standing">
                  <input type="radio" name="select-comment" value="standingComment" id="checkbox-standing">
                  <select class="select-standing">
                    <option value=0>Every Sunday</option>
                    <option value=1>Every Monday</option>
                    <option value=2>Every Tuesday</option>
                    <option value=3>Every Wednesday</option>
                    <option value=4>Every Thursday</option>
                    <option value=5>Every Friday</option>
                    <option value=6>Every Saturday</option>
                  </select>
                </label>

              </li

              ><li>
                <button type="submit" class="submit-comment">Comment</button>
              </li>

            </form>
          </div>

          <div class="seven-day-nav">
            <ul>
              <!-- Appended DayViews go here -->
            </ul>
          </div>

          <div class="calendar-day">
            <div class="calendar-standing">
              <form action="">
                <ul>
                  <!-- Comments Displayed/appended here -->
                </ul>
              </form>
            </div>

            <div class="calendar-daily">
              <form action="">
                <ul>
                  <!-- Comments Displayed/appended here -->
                </ul>
              </form>
            </div>
          </div>
          <div class="copyright-info">
            <h1>English (US) · Privacy · Terms · Cookies · Advertising</h1>
            <p>Beseech Me®, LLC</p>
          </div>

        </div>
      </div>

  </div>



</script>




<!-- backend Settings View View -->

<script type="text/template" id="backend-settings-view">

  <div class="dashboard-container">
    <div class="middle-column">
      <% var user = Parse.User.current() %>

        <div class="settings-sublist">
          <form action="">
            <ul>
              <li><span class="fa fa-bookmark"></span><input type="text" name="business-name" value="<%=  attributes.businessName %>" placeholder="Business Name"></li>
              <li><h1>@</h1><input type="text" name= "handle" value="<%=  attributes.handle %>"></li>

              <li><span class="fa fa-location-arrow"></span><input type="text" name="address" value="<%=  attributes.address %>" placeholder="Address"></li>
              <li><h1>C</h1><input type="text" name="city" value="<%=  attributes.City %>" placeholder="City"></li>
              <li>
                <h1>S</h1>
                <!-- <input type="text" name="state" value="<%=  attributes.State %>"> -->
                <select name='state'>
                  <option value="AL">Alabama</option>
                  <option value="AK">Alaska</option>
                  <option value="AZ">Arizona</option>
                  <option value="AR">Arkansas</option>
                  <option value="CA">California</option>
                  <option value="CO">Colorado</option>
                  <option value="CT">Connecticut</option>
                  <option value="DE">Delaware</option>
                  <option value="DC">District Of Columbia</option>
                  <option value="FL">Florida</option>
                  <option value="GA">Georgia</option>
                  <option value="HI">Hawaii</option>
                  <option value="ID">Idaho</option>
                  <option value="IL">Illinois</option>
                  <option value="IN">Indiana</option>
                  <option value="IA">Iowa</option>
                  <option value="KS">Kansas</option>
                  <option value="KY">Kentucky</option>
                  <option value="LA">Louisiana</option>
                  <option value="ME">Maine</option>
                  <option value="MD">Maryland</option>
                  <option value="MA">Massachusetts</option>
                  <option value="MI">Michigan</option>
                  <option value="MN">Minnesota</option>
                  <option value="MS">Mississippi</option>
                  <option value="MO">Missouri</option>
                  <option value="MT">Montana</option>
                  <option value="NE">Nebraska</option>
                  <option value="NV">Nevada</option>
                  <option value="NH">New Hampshire</option>
                  <option value="NJ">New Jersey</option>
                  <option value="NM">New Mexico</option>
                  <option value="NY">New York</option>
                  <option value="NC">North Carolina</option>
                  <option value="ND">North Dakota</option>
                  <option value="OH">Ohio</option>
                  <option value="OK">Oklahoma</option>
                  <option value="OR">Oregon</option>
                  <option value="PA">Pennsylvania</option>
                  <option value="RI">Rhode Island</option>
                  <option value="SC">South Carolina</option>
                  <option value="SD">South Dakota</option>
                  <option value="TN">Tennessee</option>
                  <option value="TX">Texas</option>
                  <option value="UT">Utah</option>
                  <option value="VT">Vermont</option>
                  <option value="VA">Virginia</option>
                  <option value="WA">Washington</option>
                  <option value="WV">West Virginia</option>
                  <option value="WI">Wisconsin</option>
                  <option value="WY">Wyoming</option>
                </select>
              </li>
              <li><h1>Z</h1><input type="text" name="zip" value="<%=  attributes.zip %>"></li>
              <li><span class="fa fa-phone"></span><input type="text" name="phone-number" value="<%= attributes.phoneNumber %>"></li>
              <li><span class="fa fa-globe"></span><input type="text" name="website" value="<%=  attributes.website %>"></li>
              <li><button type="submit" class="save-button">Save</button></li>
            </ul>
          </form>
        </div>
        <div class="settings-sublist">
          <form action="">
            <input name='avatar' type="file">
            <button type="button" id='avatar-upload'>Avatar Upload</button>
          </form>
        </div>
        <div class="settings-sublist">
          <form action="">
            <input name='cover' type="file">
            <button type="button" id='cover-upload'>Cover Upload</button>
          </form>
        </div>

    </div>

  </div>

</script>


<!-- backend Competition View -->

<script type="text/template" id="backend-competition-view">


</script>
<!-- END BACKEND TEMPLATES -->

<!-- Likes Results -->

<script type="text/template" id="likes-results-view">

  <a href='#consumer/<%= handle %>'>
    <% if (typeof avatar !=='undefined') { %>
      <img style='height:20px; width:20px;' src=<%= avatar.url() %> >
    <% } else { %>
      <img style='height:20px; width:20px;' src="images/default-avatar.png">
    <% } %>
    <h1 style='display:inline-block'><%= firstName %></h1>
  </a>

</script>

<!-- Feed View -->

<!-- TEXT VIEW -->

<script type='text/template' id='status-text-view'>
  <% var user = attributes.createdBy %>

  <section class="feed-info">
      <aside>
        <% if (typeof user.get('avatar') !=='undefined') { %>
          <img src=<%= user.get('avatar')._url %> >
        <% } else { %>
          <img src="images/default-avatar.png">
        <% } %>
      </aside

      ><section><a href='#business/<%= user.attributes.handle %>'><h1><%= user.attributes.businessName %></h1></a><h3><%= moment(createdAt).fromNow(true) %> ago</h3></section

      ><footer><h1>+</h1><span class='likes'></span></footer>

  </section>

  <section class="feed-content">
    <aside>
      <p><%= attributes.content %></p>
    </aside>
  </section>

  <% if (Parse.User.current().get('userType') === 'consumer') { %>
    <section class="feed-controls">
      <li><span class="entypo-thumbs-up"></span><h1 class='like-button'>Like</h1></li
      ><li><span class="entypo-star"></span><h1 class='follow'>Follow</h1></li
      ><li><span class="entypo-location"></span><h1 class='check-in'>Check In</h1></li>
    </section>
  <% } else { %>
  <% } %>
</script>

<!-- Photo VIEW -->

<script type='text/template' id='status-photo-view'>
  <% var user = attributes.createdBy %>

  <section class="feed-info">
      <aside>
        <% if (typeof user.get('avatar') !=='undefined') { %>
          <img src=<%= user.get('avatar')._url %> >
        <% } else { %>
          <img src="images/default-avatar.png">
        <% } %>
      </aside

      ><section><a href='#business/<%= user.attributes.handle %>'><h1><%= user.attributes.businessName %></h1></a><i class="fa fa-check-circle"></i><h3><%= moment(createdAt).fromNow(true) %> ago</h3></section

      ><footer><h1>+</h1><span class='likes'></span></footer>

  </section>

  <section class="likes-results-container">
    <section class="likes-results"></section>
  </section>

  <section class="feed-photo">
    <img src=<%= attributes.image._url %> /
    ><footer>
      <aside>
        <% if (typeof user.get('avatar') !=='undefined') { %>
          <img src=<%= user.get('avatar')._url %> >
        <% } else { %>
          <img src="images/default-avatar.png">
        <% } %>
      </aside>
    </footer>
  </section>

  <% if (Parse.User.current().get('userType') === 'consumer') { %>
    <section class="feed-controls">
      <li><span class="entypo-thumbs-up"></span><h1 class='like-button'>Like</h1></li
      ><li><span class="entypo-star"></span><h1 class='follow'>Follow</h1></li
      ><li><span class="entypo-location"></span><h1 class='check-in'>Check In</h1></li>
    </section>
  <% } else { %>
  <% } %>

</script>

<!-- VIDEO VIEW -->

<script type='text/template' id='status-video-view'>
  <% var user = attributes.createdBy %>

</script>


<!-- EVENT VIEW -->

<script type='text/template' id='status-event-view'>

  <% var user = attributes.createdBy %>
  <section class="feed-info">
      <aside>
        <% if (typeof user.get('avatar') !=='undefined') { %>
          <img src=<%= user.get('avatar')._url %> >
        <% } else { %>
          <img src="images/default-avatar.png">
        <% } %>
      </aside

      ><section><a href='#business/<%= attributes.handle %>'><h1><%= user.attributes.businessName %></h1></a><h3><%= user.attributes.address %></h3></section

      ><footer><h1>+</h1><span class='likes'></span></footer>

  </section>


  <section class="feed-event">
    <aside>
      <h2><%= attributes.title %></h2>
      <h3><%= moment(user.get('eventDate')).format('MMMM Do, YYYY') %></h3>

      <p><%= attributes.content %></p>
    </aside>
  </section>
  
  <section class="feed-statistics">
    <p><%= moment(createdAt).fromNow(true) %> ago</p>
  </section>

  <section class="feed-controls">
    <li><span class="entypo-thumbs-up"></span><h1 class='like-button'>Like</h1></li
    ><li><span class="entypo-star"></span><h1 class='follow'>Follow</h1></li
    ><li><span class="entypo-feather"></span><h1 class='rsvp'>RSVP</h1></li>
  </section>

</script>

<!-- CHECKIN STATUS -->

<script type='text/template' id='status-checkin-view'>
 
  <% var user = attributes.createdBy %>

  <section class="feed-checkin-content">
    <aside>
        <% if (typeof user.get('avatar') !=='undefined') { %>
          <img src=<%= user.get('avatar')._url %> >
        <% } else { %>
          <img src="images/default-avatar.png">
        <% } %>
    </aside
    ><section>
      <p><%= attributes.content %></p>
      <li>
        <h3><%= moment(createdAt).fromNow(true) %> ago </h3><h3 class='like-button'>Like</h3>
      </li>
    </section
    ><footer><h1>+</h1><span class='likes'></span></footer>

  </section>

</script>

<!-- RSVP STATUS VIEW -->

<script type='text/template' id='status-rsvp-view'>
  <% var user = attributes.createdBy %>

  <section class="feed-info">
    <% if (Parse.User.current().get('userType') === 'consumer') { %>
      <aside>
        <% if (typeof user.get('avatar') !=='undefined') { %>
          <img src=<%= user.get('avatar')._url %> >
        <% } else { %>
          <img src="images/default-avatar.png">
        <% } %>
      </aside

      ><section><h1><%= user.attributes.businessName %></h1><h3><%= user.attributes.address %></h3></section>

    <% } else { %>

      <aside>
        <% if (typeof user.get('avatar') !=='undefined') { %>
          <img src=<%= user.get('avatar')._url %> >
        <% } else { %>
          <img src="images/default-avatar.png">
        <% } %>
      </aside

      ><section><h1><%= user.attributes.businessName %></h1><h3><%= user.attributes.address %></h3></section>
    <% } %>
  </section>

  <section class="feed-statistics">
    <p><%= moment(createdAt).fromNow(true) %> ago</p><span class='likes'></span> <p>Likes</p>
  </section>

  <section class="feed-controls">
    <li><span class="entypo-thumbs-up"></span><h1 class='like-button'>Like</h1></li
    ><li><span class="entypo-star"></span><h1 class='follow'>Follow</h1></li
    ><li><span class="entypo-location"></span><h1 class='check-in'>RSVP</h1></li>
  </section>

</script>


<!-- BEER STATUS VIEW -->

<script type='text/template' id='status-beer-view'>

  <% var user = attributes.createdBy %>

  <section class="feed-beer-content">
    <aside>
        <% if (typeof user.get('avatar') !=='undefined') { %>
          <img src=<%= user.get('avatar')._url %> >
        <% } else { %>
          <img src="images/default-avatar.png">
        <% } %>    
    </aside
    ><section>
      <h1>Taylor Aull</h1> 
      <p>had a</p>
      <a>Westbrook IPA</a>
      <p>at</p>
      <a>Craft and Draft</a>
      <h3><%= moment(createdAt).fromNow(true) %> ago</h3>

    </section
    ><footer><h1>+</h1><span class='likes'></span></footer>

  </section>

</script>


<!-- Business Page View -->

<script type="text/template" id="business-view">


  <% var user = Parse.User.current() %>

  <div class="business-tabs-container">
    <div class="business-tabs">
      <ul>
        <a href="#business/<%= attributes.handle %>"><section><h1><%= attributes.businessName %></h1></section></a
        ><a href="#business/<%= attributes.handle %>/feed"><section><h1>Feed</h1></section></a
        ><a href="#business/<%= attributes.handle %>/beer"><section><h1>Beer</h1></section></a
        ><a href="#business/<%= attributes.handle %>/calendar"><section><h1>Calendar</h1></section></a>
      </ul>
    </div>
  </div>
</script>

<script type="text/template" id="business-home-view">

  <div class="dashboard-container">

  <% var user = Parse.User.current() %>

        <div class="left-column">

          <div class="to-location">
            <section class="update-location-info"><h1><%= attributes.city %>, <%= attributes.state %> (<%= attributes.zip %>)</h1></section
            ><div class="update-location"><footer><h1>Update Location</h1></footer></div

            ><aside id="location-trigger"><i class="fa fa-location-arrow arrow"></i></aside>
          </div>

          <div class="dashboard-tabs">
            <a href="#business/<%= attributes.handle %>" class="active-dashboard-tab"><span class="entypo-dot-3"></span><h1>Main Feed</h1></a
            ><a href="#business/<%= attributes.handle %>/beer"><span class="entypo-bookmarks"></span><h1>Beer List</h1></a
            ><a href="#business/<%= attributes.handle %>/friends"><span class="entypo-user-add"></span><h1>My Friends</h1></a
            ><a href="#business/<%= attributes.handle %>/calendar"><span class="entypo-calendar"></span><h1>Calendar</h1></a>

          </div>

        </div
        ><div class="middle-column">
          <div class="feed-header-wrap">
            <section class="feed-header"><h1>Craft and Draft</h1></section>
          </div>
          <div class="business-cover">
            <% if (typeof attributes.coverPhoto !=='undefined') { %>
              <img src=<%= attributes.coverPhoto._url %> >
              <% } else { %>
              <img src="images/craft2.jpg">
            <% } %>
          </div>

          <div class="business-home">
            <section>
                <% if (typeof attributes.avatar !=='undefined') { %>
                  <img src=<%= attributes.avatar._url %> >
                  <% } else { %>
                  <img src="images/default-avatar.png">
                <% } %>
                <h1><%= attributes.businessName %></h1><i class="fa fa-check-circle"></i>
                <p><%= attributes.address %>, <%= attributes.City %>, <%= attributes.state %> <%= attributes.zip %></p>
                <h2><%= attributes.phoneNumber %></h2>
            </section>
          </div>


        </div
        ><div class="right-column">

          <section class="feed-header"><h1>Draft List</h1></section>

            <div class="profile-beer-list">
              <ul></ul>
            </div>
            <section class="feed-header"><h1><%= moment().format('dddd, MMMM Do') %></h1></section>

            <div class='calendar-standing'></div>
            <div class='calendar-daily'></div>
        </div>
  </div>


</script>

<!-- Business Feed View -->

<script type="text/template" id="business-feed-view">

  <div class="dashboard-container">
    <div class="middle-column">
        <div class="feed-header-wrap">
          <section class="feed-header"><h1>Craft and Draft</h1><i class="fa fa-angle-right"></i><h1>Feed</h1></section>
        </div>
        <div class="business-tabs-container">
          <div class="business-tabs">
            <ul>
              <a href="#business/<%= attributes.handle %>"><section><h1><%= attributes.businessName %></h1></section></a
              ><a href="#business/<%= attributes.handle %>/feed"><section><h1>Feed</h1></section></a
              ><a href="#business/<%= attributes.handle %>/beer"><section><h1>Beer Menu</h1></section></a
              ><a href="#business/<%= attributes.handle %>/calendar"><section><h1>Calendar</h1></section></a>
            </ul>
          </div>
        </div>

        <div class="bar-feed"><ul></ul></div>

        <div class="copyright-info">
          <h1>English (US) · Privacy · Terms · Cookies · Advertising</h1>
          <p>Beseech Me®, LLC</p>
        </div>
    </div>

  </div>

</script>


<!-- Business Beer View -->

<script type="text/template" id="business-beer-view">

  <div class="dashboard-container">
    <div class="left-column">
    </div
    ><div class="middle-column">
        <div class="feed-header-wrap">
          <section class="feed-header"><h1>Craft and Draft</h1><i class="fa fa-angle-right"></i><h1>Beer Menu</h1></section>
        </div>

        <div class="business-tabs-container">
          <div class="business-tabs">
            <ul>
              <a href="#business/<%= attributes.handle %>"><section><h1><%= attributes.businessName %></h1></section></a
              ><a href="#business/<%= attributes.handle %>/feed"><section><h1>Feed</h1></section></a
              ><a href="#business/<%= attributes.handle %>/beer"><section><h1>Beer Menu</h1></section></a
              ><a href="#business/<%= attributes.handle %>/calendar"><section><h1>Calendar</h1></section></a>
            </ul>
          </div>
        </div>


        <div class="profile-beer-tabs">
          <li id="backend-draft-tab" class="active-beer-type tabs-loading">
            <h1>Draft</h1>
          </li

          ><li id="backend-add-beer" >
          </li

          ><li id="backend-bottle-tab" class="active-beer-type tabs-loading">
            <h1>Bottled</h1>
          </li>
        </div>

          <div class="beer-loading hidden">
            <!-- 1 -->
            <div class="loader" title="0">
              <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="30px" height="30px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
              <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
                s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
                c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
              <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
                C22.32,8.481,24.301,9.057,26.013,10.047z">
                <animateTransform attributeType="xml"
                  attributeName="transform"
                  type="rotate"
                  from="0 20 20"
                  to="360 20 20"
                  dur="0.5s"
                  repeatCount="indefinite"/>
                </path>
              </svg>
            </div>
          </div>


        <div class="profile-beer-list">
          <ul>

          </ul>
          <div class='load-more-button hidden'>
            <h1>Load More</h1>
          </div>
        </div>

    </div
    ><div class="right-column"></div>
  </div>
</script>

<script type="text/template" id="business-error-view">
  <div class="business-container">

    <div class="narrow-container">
      <div class="business-error">
        <section><p>No matches found</p></section>
        <article><a>Home</a></article>
      </div>
    </div>

  </div>
</script>

<script type='text/template' id='backend-beer-result'>
    <article class="show-beer-cancel">
      <span class="fa fa-plus-circle"></span>
    </article
    ><aside>
      <% if (typeof attributes.labels !== 'undefined') { %>
        <img src=<%= attributes.labels.icon %> />
      <% } else { %>
        <img src="images/default-avatar.png">
      <% } %>
    </aside

    ><div>
      <h1><%= attributes.name %></h1>
      <% if (typeof attributes.breweries !== 'undefined') { %>
        <p><%= attributes.breweries[0].name %></p>
      <% } %>
      <h2><a id="draft-select">Add to Draft</a> • <a id="bottle-select">Add to Bottled</a></h2>
    </div

    ><section>
      <footer id="choose-beer-type">
        <h3>Add</h3
        ><i class="fa fa-caret-down"></i>
      </footer>
      <article class="beer-type hidden">
        <h4>Draft List</h4>
        <h4>Bottled List</h4>
      </article>
    </section>

</script>

<!-- backend Calendar View -->

<script type="text/template" id="business-calendar-view">
  <div class="dashboard-container">
    <div class="middle-column">

        <div class="feed-header-wrap">
          <section class="feed-header"><h1>Craft and Draft</h1><i class="fa fa-angle-right"></i><h1>Calendar</h1></section>
        </div>

        <div class="business-tabs-container">
          <div class="business-tabs">
            <ul>
              <a href="#business/<%= attributes.handle %>"><section><h1><%= attributes.businessName %></h1></section></a
              ><a href="#business/<%= attributes.handle %>/feed"><section><h1>Feed</h1></section></a
              ><a href="#business/<%= attributes.handle %>/beer"><section><h1>Beer Menu</h1></section></a
              ><a href="#business/<%= attributes.handle %>/calendar"><section><h1>Calendar</h1></section></a>
            </ul>
          </div>
        </div>

        <div class="wide-container">

          <div class="seven-day-nav">
            <ul>
              <!-- Appended DayViews go here -->
            </ul>
          </div>

          <div class="calendar-day">
            <div class="calendar-standing">
              <form action="">
                <ul>
                  <!-- Comments Displayed/appended here -->
                </ul>
              </form>
            </div>

            <div class="calendar-daily">
              <form action="">
                <ul>
                  <!-- Comments Displayed/appended here -->
                </ul>
              </form>
            </div>
          </div>
          <div class="copyright-info">
            <h1>English (US) · Privacy · Terms · Cookies · Advertising</h1>
            <p>Beseech Me®, LLC</p>
          </div>

        </div>
      </div>
  </div>
</script>

<!-- Bar Search View -->

<script type="text/template" id="bar-search-results-view">
  <aside>
    <% if (typeof attributes.avatar != 'undefined') { %>
      <img src="<%= attributes.avatar.url() %>">
    <% } else { %>
      <img src="images/default-avatar.png">
    <% } %>
  </aside>
  <section>
    <% if (attributes.userType == 'business') { %>
      <h1><%= attributes.businessName %></h1>
    <% } else { %>
      <h1><%= attributes.firstName + ' ' + attributes.lastName %></h1>
    <% } %>
    <p><%= attributes.address %></p>
    <p><%= attributes.city %>, <%= attributes.state %> <%= attributes.zip %></p>

  </section>
  <div><h1 class='follow'>Follow</h1></div>

</script>

<script type="text/template" id="bar-search-view">
  <% var user = Parse.User.current() %>

  <header>
    <div class="header-container">
      <div class="header-left">
        <aside><img src="images/nextap-logo-white.png"></aside
        ><section><a class="active-tab" href="#dashboard"><i class="fa fa-dashboard"></i></a><a href="#backend"><i class="fa fa-cog"></i></a><li id="search-trigger"><i class="fa fa-search"></i></li></section>

      </div
      ><div class="header-center">
 
      </div
      ><div class="header-right">

        <div class="dashboard-statistics">
          <li><h1 class='follow-number'></h1><p class='follow-text'></p></li
          ><li><h1>32</h1><p>Following</p></li
          ><li><h1>24</h1><p>Beers</p></li>
        </div>
        

      </div>  

    </div>
  </header>
  <div class="bar-search-wrap">
    <div class="bar-search-container">
      <div class="bar-search">
        <form name='bar-search' action>
          <span class="fa fa-angle-right"></span
          ><input type="text" placeholder="Search for Bars, Restaurants or Friends"
          ><button id="bar-submit"></button>
        </form>
      </div> 
    </div>
  </div>

  <div class="dashboard-container">

    <div class="middle-column">

      <div class="search-tabs">
        <li><h1>Bars</h1></li
        ><li><h1>Friends</h1></li>
      </div>
      <div class="bar-search-results"><ul></ul></div>

    </div>

  </div>
</script>

<script type="text/template" id="location-view">


  <div class="one-column-container">
      <% var user = Parse.User.current() %>

      <% if (user.get('userType') === 'business') { %>
        <div class="current-location">
          <div class="set-location-warning">
            <h1>Are you at your place of Business?</h1>
            <a href="#backend">If not, please skip step and set later</a>
          </div>
          <div class="location-button">
            <span class="fa fa-location-arrow"></span>
            <p>Set Location</p>
          </div>
        </div>
      <% } else { %>

        <div class="current-location-info"><h1><%= user.get('city') %>, <%= user.get('state') %> (<%= user.get('zip') %>)</h1><p>Last Updated: <%= moment(user.get('lastUpdatedLocation')).format('MMMM Do, YYYY [at] h:mm a') %> </p></div>
        <div class="current-location">
          <div class="location-button">
            <span class="fa fa-location-arrow"></span>
            <p>Set Location</p>
          </div>
          <div class="set-location-warning">
              <a href="#dashboard">Cancel and return to Dashboard</a>
          </div>
        </div>
      <% } %>


  </div>
</script>

<script type="text/template" id="dashboard-view">

    <% var user = Parse.User.current() %>

    <div class="confirm-message-container">
      <div class="confirm-message"><h1></h1></div>
    </div>

    <div class="dashboard-statistics">
      <li><h1 class='follow-number'></h1><p class='follow-text'></p></li
      ><li><h1>32</h1><p>Following</p></li
      ><li><h1>24</h1><p>Beers</p></li>
    </div>



      <div class="header-options-container">



        <div class="to-location">
          <section class="update-location-info"><h1><%= user.get('city') %>, <%= user.get('state') %> (<%= user.get('zip') %>)</h1></section
          ><div class="update-location"><footer><h1>Update Location</h1></footer></div

          ><aside id="location-trigger"><i class="fa fa-location-arrow arrow"></i></aside>
        </div>
      </div>

      <div class="business-tabs-container">
        <div class="business-tabs">
          <ul>
            <a href="#dashboard" class="active-dashboard-tab"><section><h1>Home</h1></section></a
            ><a href="#dashboard/following"><section><h1>Following</h1></section></a
            ><a href="#dashboard/friends"><section><h1>Friends</h1></section></a
            ><a href="#dashboard/listing"><section><h1>Listing</h1></section></a
            ><a href="#dashboard/map"><section><h1>Map View</h1></section></a>
          </ul>
        </div>
      </div>

      <div class="location-container">

      </div>

</script>

<!-- <div class="dashboard-tabs">
  <a href="#dashboard" class="active-dashboard-tab"><span class="entypo-dot-3"></span><h1>Main Feed</h1></a
  ><a href="#dashboard/following"><span class="entypo-bookmarks"></span><h1>Following</h1></a
  ><a href="#dashboard/friends"><span class="entypo-user-add"></span><h1>My Friends</h1></a
  ><a href="#dashboard/listing"><span class="entypo-sweden"></span><h1>Bar Listing</h1></a
  ><a href="#dashboard/map"><span class="entypo-globe"></span><h1>Local Map</h1></a>
</div> -->


<script type="text/template" id="dashboard-home-view">
  <% var user = Parse.User.current() %>

  <div class="dashboard-container">


      <div class="middle-column">
        <div class="feed-header-wrap">
          <section class="feed-header"><h1>Dashboard</h1><span class="fa fa-caret-down"></span></section>
        </div>

        <div class="bar-feed"><ul></ul></div>

        <div class="copyright-info">
          <h1>English (US) · Privacy · Terms · Cookies · Advertising</h1>
          <p>Beseech Me®, LLC</p>
        </div> 
      </div>
  </div>
</script>

<script type="text/template" id="dashboard-feed-view">


  <div class="dashboard-container">
    <div class="middle-column">

        <section class="feed-header"><a href="#dashboard">Dashboard</a><i class="fa fa-angle-right"></i><h1>Feed</h1></section>

        <div class="bar-feed">
          <ul>
          </ul>
        </div><!-- END PROFILE FEED -->

        <div class="copyright-info">
          <h1>English (US) · Privacy · Terms · Cookies · Advertising</h1>
          <p>Beseech Me®, LLC</p>
        </div>
    </div>

  </div>
</script>

<script type="text/template" id="dashboard-beer-view">
  <div class="one-column-container">

  </div>
</script>



<script type="text/template" id="individual-listing-view">

  <aside>
    <% if (typeof attributes.avatar !=='undefined') { %>
      <img src=<%= attributes.avatar._url %> >
    <% } else { %>
      <img src="images/default-avatar.png">
    <% } %>
  </aside
  ><section>
    <a href='#business/<%= attributes.handle %>'><h1><%= attributes.businessName %></h1></a>
    <p><%= attributes.address %></p>

  </section
  ><article>
    <h1><%= attributes.location.milesTo(Parse.User.current().get('location')).toFixed(1) %> mi</h1>
  </article>
</script>

<script type="text/template" id="dashboard-listing-view">
  <% var user = Parse.User.current() %>

  <div class="dashboard-container">
    <div class="left-column">
        <div class="current-user-info">

          <% if (typeof user.avatar !=='undefined') { %>
            <img src=<%= user.avatar._url %> >
          <% } else { %>
            <img src="images/default-avatar.png">
          <% } %>
          
          <% if (Parse.User.current().get('userType') === 'consumer') { %>
            <h1><%= user.get('firstName') %> <%= user.get('lastName') %></h1>
          <% } else { %>
            <h1><%= user.get('businessName') %></h1>
          <% } %>
          <h2>@<%= user.get('handle') %></h2>

        </div>

        <div class="dashboard-tabs1">  
          <a href="#location"><li><aside><span class="fa fa-location-arrow"></span></aside><section><h1><%= user.get('city') %>, <%= user.get('state') %> (<%= user.get('zip') %>)</h1><p>Updated: <%= moment(user.get('lastUpdatedLocation')).format('MMMM Do, YYYY [at] h:mm a') %> </p></section></li></a>
        </div
        ><div class="dashboard-tabs-dropdown">
          <h1>Home</h1><i class="fa fa-caret-down"></i>
        </div>

    </div
    ><div class="middle-column">

     <section class="feed-header"><a href="#dashboard">Dashboard</a><i class="fa fa-angle-right"></i><h1>Listing</h1></section>

      <div class="listing-container"></div>
    </div
    ><div class="right-column">

    </div>
  </div>
</script>

<!-- Dashboard Following List -->

<script type="text/template" id="individual-following-view">

  <aside>
    <% if (typeof attributes.avatar !== 'undefined') {  %>
    <img src="<%= attributes.avatar._url %>">
    <% } else { %>
    <img src="images/default-avatar.png">
    <% } %>
  </aside
  ><section>
    <h1><%= attributes.businessName %></h1>
    <p><%= attributes.address %></p>
  </section
  ><article>
    <p class='follow'>Unfollow</p>
  </article>

</script>

<script type="text/template" id="dashboard-following-view">
  <% var user = Parse.User.current() %>

  <div class="dashboard-container">
    <div class="left-column">

      <div class="dashboard-tabs1">  
        <a href="#location"><li><aside><span class="fa fa-location-arrow"></span></aside><section><h1><%= user.get('city') %>, <%= user.get('state') %> (<%= user.get('zip') %>)</h1><p>Updated: <%= moment(user.get('lastUpdatedLocation')).format('MMMM Do, YYYY [at] h:mm a') %> </p></section></li></a>
      </div
      ><div class="dashboard-tabs-dropdown">
        <h1>Home</h1><i class="fa fa-caret-down"></i>
      </div>


    </div

    ><div class="middle-column">

      <section class="feed-header"><a href="#dashboard">Dashboard</a><i class="fa fa-angle-right"></i><h1>Favorite Bars</h1></section>

      <div class="bar-feed"><ul></ul></div>

    </div
    ><div class="right-column">

    </div>
  </div>
</script>


<script type="text/template" id="dashboard-friends-view">
  <% var user = Parse.User.current() %>

  <div class="dashboard-container">
    <div class="left-column">

    </div

    ><div class="middle-column">

      <section class="feed-header"><a href="#dashboard">Dashboard</a><i class="fa fa-angle-right"></i><h1>Friends</h1></section>

      <div class="friends-feed"></div>
    </div
    ><div class="right-column">

    </div>
  </div>
</script>

<!-- Dashboard Map View -->

<script type="text/template" id="dashboard-map-view">
  <div class="dashboard-container">
    <div class="middle-column">
      <section class="feed-header"><a href="#dashboard">Dashboard</a><i class="fa fa-angle-right"></i><h1>Map</h1></section>

      <div id='map'></div>
    </div>
  </div>
</script>

<script type="text/template" id="map-popout-view">
  <div class="map-info">
    <aside><img src="<%= attributes.avatar._url %>"></aside
    ><section><a href='#business/<%= attributes.handle %>'><h1><%= attributes.businessName %></h1></a><p><%= attributes.address %></p></section>
  </div>
</script>



<script src='bower_components/jquery/dist/jquery.min.js'></script>
<script src='bower_components/underscore/underscore-min.js'></script>
<script src='bower_components/backbone/backbone-min.js'></script>
<script src='bower_components/jquery-ui/jquery-ui.min.js'></script>
<script src='bower_components/pickadate/lib/picker.js'></script>
<script src='bower_components/pickadate/lib/picker.date.js'></script>
<script src="http://www.parsecdn.com/js/parse-1.4.2.min.js"></script>
<script src='jquery-accordion.js'></script>
<script src='CustomDropDownListStyling/js/modernizr.custom.79639.js'></script>

<script src='jquery-popup-overlay/jquery.popupoverlay.js'></script>

<script src='bower_components/autosize/dist/autosize.min.js'></script>
<script src="bower_components/moment/min/moment.min.js"></script>
<script src="noUiSlider/nouislider.min.js"></script>
<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBHDpVSzA0WKfRHqi45stay7gkiBk7TdMI'></script>

<script src='dest/main.js'></script>

</body>
