.cd-dropdown,
.cd-select {
	position: relative;
	width: 100%;
	margin: 0px auto 5px;
	display: inline-block;

	/*margin-left:15px;*/
	/*background:#333;*/
}

.cd-dropdown > span {
	width: 100%;
	height: 60px;
	line-height: 60px;
	color: #999;
	font-weight: 300;
	font-size: 16px;
	background: #fff;
	display: block;
	padding: 0 15px 0 15px;
	position: relative;
	cursor: pointer;
}

.cd-dropdown > span:after {
	content: '\25BC';
	position: absolute;
	right: 0px;
	top: 15%;
	width: 50px;
	text-align: center;
	font-size: 12px;
	padding: 10px;
	height: 70%;
	line-height: 24px;
	border-left: 1px solid #ddd;
}

.cd-dropdown.cd-active > span:after {
	content: '\25B2';
}

.cd-dropdown ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
	position: relative;
}

.cd-dropdown ul li {
	display: block;
}

.cd-dropdown ul li span {
	width: 100%;
	background: #fff;
	line-height: 60px;
	padding: 0 30px 0 15px;
	display: block;
	color: #bcbcbc;
	cursor: pointer;
	font-weight: 300;
}

.cd-dropdown > span,
.cd-dropdown ul li span {
	-webkit-backface-visibility: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.cd-dropdown > span span[class^="icon-"],
.cd-dropdown > span span[class*=" icon-"]{
	font-size: 14px;
}

.cd-dropdown div {

}

/* Select fallback styling */
.cd-select {
	border: 1px solid #ddd;
}

@media screen and (min-width : 0px) and (max-width : 699px) {
	.cd-dropdown,
	.cd-select {
		width: 100%;
	}
}
