/* Fonts */

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,800,900,300italic,400italic);
@import url(http://fonts.googleapis.com/css?family=Lobster);

/* Colors */

$primary-color-dark: #263238;
$primary-color-medium: #37474F;
$primary-color-light: #ECEFF1;

$secondary-color-dark: #0277BD;
$secondary-color-medium: #0277BD;
$secondary-color-light: #03A9F4;

$green-light: #8BC34A;
$green-dark: #689F38;

$text-color: #ECEFF1;


/* Global Variables */

* {
	font-family: 'Helvetica', sans-serif;
	font-size: 0;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


input [file] {

}

/* Layout */

body {
	background:$primary-color-dark;
	width: 480px;
	margin: 0 auto;
	overflow-x: hidden;
}

header {
	width: 100%;
	height: 80px;
	position: fixed;
	background:$primary-color-dark;
	left: 0;
	z-index:9999;
}

.header-container {
	width: 480px;
	height: 80px;
	margin: 0 auto;
	position:relative;
	padding-top:30px;
	background: rgba(0,0,0,.1);

	a {
		width: 20%;
		vertical-align: top;
		color:$green-light;
		font-size: 18px;
		text-decoration: none;
		float: right;
		font-weight: lighter;
		height:60px;
		padding-top: 18px;
	    padding-right: 10px;
	    padding-left: 10px;
	    cursor: pointer;
	}

	i {
		padding-right: 5px;
		font-size: 22px;
	}
}

.header-logo {
	display: inline-block;
	padding-top:0px;
	width: 480px;
	margin: 0 auto;
	text-align: center;
	padding-left:0px;

	div {
		display: inline-block;
		width: 35px;
		height: 35px;
		text-align: center;
		background: $primary-color-medium;
		border-radius: 3px;
		margin-top:-12px;
		margin-right:10px;
		padding-top:5px;
	}

	img {
		display: inline-block;
		height: 30px;
		width: auto;
	}

	span {
		display: inline-block;
		vertical-align: top;
		font-size: 24px;
		color: $primary-color-medium;
		margin-right: 25px;
	}

}

.header-right {
	position: absolute;
	right: 15px;
	width: 50px;
	top: 18px;
	cursor:pointer;
	transition: 250ms;

	li {
		display:inline-block;
		vertical-align: top;
		width: 85%;
	}

	p {
		font-size: 16px;
		color:$text-color;
		display:inline-block;
		vertical-align:top;
		font-weight: lighter;
		padding-top:18px;
	}

	img {
		width: 24px;
		height: 24px;
		margin-top:18px;
		display: inline-block;
		vertical-align: top;
	}
}

.header-left {
	position: absolute;
	left: 15px;
	top: 18px;
	cursor:pointer;

	p {
		font-size: 18px;
		color:$text-color;
		display:inline-block;
		vertical-align:top;
		font-weight: lighter;
		padding-left: 10px;
	}

/*	span {
		display: inline-block;
		vertical-align: top;
		color: $text-color;
		font-size: 22px;
	}*/
}

/* Login/Register */

.home-container {
	width: 480px;
	margin: 0 auto;
	padding: 0px 30px 30px;
	position: relative;
	top: 0px;
	background: $primary-color-dark;
}

.home-search {
	width: 100%;
	margin: 0 auto;
}

.login-logo {
	width:100%;
	margin: 0 auto 30px;
	text-align: center;

	img {
		width: 90%;
		margin-bottom:0px;
	}

	p {
		display: block;
		font-size: 14px;
		color: $text-color;
		font-style: italic;
		font-weight: lighter;
		margin-top:-10px;
	}
}


.login-container {
	width: 100%;
	margin: 0 auto;
	background:$primary-color-light;
	padding:25px 25px 30px;

	li {
		margin-bottom: 15px;
		width: 100%;
		height: 50px;
		border: 1px solid #CFD8DC;
		background:#fff;
	}

	li:last-child {
		margin-bottom: 0;
	}

	p {
		font-size:12px;
		color:$primary-color-dark;
		display: inline-block;
		vertical-align: top;
		margin-top:7px;
	}

	input {
		display: inline-block;
		font-size: 16px;
		color: $primary-color-dark;
		height: 50px;
		width: 85%;
		border: 0;
		outline: 0;
		background: transparent;
		font-weight: lighter;
		text-indent: 0;
	}

	input::-webkit-input-placeholder {
		color: $primary-color-medium
	}

	input:nth-child(3) {
		width:auto;
		height:auto;
		margin: 8px 5px 0;
	}

	span {
		display: inline-block;
		color: $primary-color-medium;
		font-size: 18px;
		width: 15%;
		text-align: center;
	}

	button {
		display: inline-block;
		width: 30%;
		height: 30px;
		font-size: 12px;
		border: 0;
		color: $primary-color-light;
		font-weight: lighter;
		background: $secondary-color-dark;
		outline: 0;
		font-weight: lighter;
		border-radius: 3px;
		float:right;
	}

}

.options-caret {

	text-align:right;
	padding-right:30px;

	span {
		font-size: 48px;
		color: $primary-color-medium;
		position: relative;
		margin-top: -20px;
		vertical-align: bottom;
	}
}


/* Search */

.search-container, 
.search-location {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 60px;
	position: relative;
	background: $primary-color-medium;
	border-bottom: 0px solid $primary-color-dark;
	margin-left: auto;
	border-radius: 4px;
	padding-right: 5px;

	span {
		display: inline-block;
		font-size: 18px;
		color: #B0BEC5;
		width: 15%;
		text-align: center;
	}

	li {
		width: 15%;
		display: inline-block;
		vertical-align: top;
		padding-top:18px;
		cursor: pointer;
	}

	input {
		display: inline-block;
		height: 60px;
		font-size: 18px;
		border:0;
		outline:0;
		border-radius:0;
		width: 70%;
		background: transparent;
		font-weight: lighter;
		color: $text-color;
	}

	button {
		width: 15%;
		display: inline-block;
		vertical-align: top;
		font-size: 12px;
		background: $secondary-color-dark;
		color: $primary-color-light;
		height: 50px;
		margin-top: 5px;
		border: 0;
		cursor: pointer;
		border-radius: 3px;
		outline: 0;

		&:focus {
			outline: 0;
		}	
	}

	input::-webkit-input-placeholder {
		color: #B0BEC5;
	}
}

.search-location {
	width: 100%;
	display: inline-block;
}

.search-button {
	width: 30%;
	display: inline-block;
	vertical-align: top;
	height: 60px;
	background: $secondary-color-dark;
	text-align: center;
	margin: 0 auto;

	p {
		font-size: 16px;
		color: $primary-color-light;
		font-weight: lighter;
		padding-top: 20px;
	}
}


.location-container {
	background: $primary-color-medium;
	width: 100%;
	padding: 30px 30px 30px;
	/*border-radius: 5px;*/
}

.location-button {
    height: 60px;
    width: 100%;
    margin: 0 auto;
    background: $secondary-color-dark;
    text-align: center;
    border-radius: 4px;
    padding-top: 20px;

	span {
		color: $primary-color-light;
		font-size: 18px;
		display: inline-block;
		padding-top:3px;

	}
	
	p {
		display: inline-block;
		vertical-align: top;
		color: $primary-color-light;
		font-size: 18px;
		font-weight: lighter;
		padding-left: 10px;
	}

}

.popular-locations {
	width: 100%;
	text-align: center;
	padding: 30px 30px 30px;

	h1 {
		display: block;
		font-size: 14px;
		color: $secondary-color-light;
		font-weight: lighter;
		padding-bottom: 10px;
	}

	p {
		display: block;
		vertical-align: top;
		font-size: 14px;
		color: $primary-color-light;
		font-weight: lighter;
	}
}

.change-location {
	width: 50px;
	height: 50px;
	background: $secondary-color-dark;
	left: 15px; 
	top: 17.5px;
	position: absolute;
	border-radius: 4px;
	text-align: center;
	padding-top:12px;

	span {
		font-size: 24px;
		color: $primary-color-light;
	}
}

.or-button {

	width: 300px;
	margin: 0 auto;
	text-align: center;
	margin-top: 15px;

	p {
		font-size: 36px;
		color:$primary-color-light;
		font-style:italic;
		text-transform: lowercase;
		font-family: 'Lobster', cursive;
	}
}

/* Profile Route */

.wide-container {
	width: 480px;
	padding-top:80px;
	/*margin-bottom:50px;*/

}

.sidebar {
	width: 480px;
	position:relative;
	display: block;
	vertical-align: top;
	/*margin-right: 20bpx;*/
	/*margin-top: 20px;*/
	background: $primary-color-dark;
	/*border-right: 1px solid #dfdfdf;*/
}

.main-container {
	display: block;
	vertical-align: top;
	width: 480px;
	margin: 0 auto;
	position: relative;
	background:$primary-color-light;
	transition: 250ms;
}

.main-container::-mozilla-scrollbar {
	display: none;
}

.main-container::-webkit-scrollbar {
	display: none;
}


.profile-heading {
	width: 100%;
	background:$primary-color-dark;
}

.profile-options {
	width: 100%;
	background:$primary-color-medium;
	position: relative;
	/*border-top: 1px solid $primary-color-dark;*/
	transition:250ms;

	li {
		width: 25%;
		display: inline-block;
		color:$primary-color-medium;
		font-size: 12px;
		text-align: center;
		padding: 15px 0;
		font-weight: lighter;
		border-right: 1px solid $primary-color-dark;
		border-left: 1px solid #455A64;
		/*border-top: 1px solid #455A64;*/
	}

	li:last-child {
		border-right:0;
	}

	li:first-child {
		border-left:0;
	}

	span {
		width: 30px;
		top:-25px;
		color:$primary-color-dark;
		font-size:48px;
		text-align: center;
		position: absolute;

	}

	img {
		height: 30px;
		width: auto;
	}
}



.profile-info {
	width: 100%;
	text-align:center;
	background: $primary-color-medium;
	border-top:1px solid #455A64;
	margin-bottom: 0px;
	height: 50px;
	margin-bottom:25px;

	span {
		font-size: 36px;
		color: $primary-color-medium;
		position: relative;
		left: 0;
		margin: 0 auto;
		top: -15px;
		z-index: 1000000;
  		vertical-align: bottom;
  		margin-bottom:-12px;
	}
}

.profile-statistics {
	width: 100%;
	background: $primary-color-medium;
	border-top:1px solid #455A64;
	margin-bottom: 0px;
	margin-bottom:25px;

	li {
		width: 33.3333%;
		display: inline-block;
		text-align: center;
		padding: 25px 0; 
	}

	h1 {
		font-size: 36px;
		color: $secondary-color-light;
	}

	p {
		font-size: 12px;
		font-weight: lighter;
		color: $primary-color-light;
	}

}

/* Bar Page Options */

.bar-page-options {
	width: 480px;
	background:$primary-color-dark;
	position: fixed;
	bottom: 0;
	z-index: 99999;

	li {
		width: 25%;
		display: inline-block;
		color:$primary-color-medium;
		font-size: 12px;
		text-align: center;
		padding: 20px 0;
		font-weight: lighter;
		border-right: 1px solid #000;
		border-left: 1px solid $primary-color-medium;
		/*border-bottom: 1px solid $primary-color-dark;*/
	}

	li:last-child {
		border-right:0;
	}

	li:first-child {
		border-left:0;
	}

	span {
		width: 30px;
		top:-25px;
		color:$primary-color-dark;
		font-size:48px;
		text-align: center;
		position: absolute;

	}

	img {
		height: 30px;
		width: auto;
	}
}

.beer-search, 
.bar-search {
	width: 100%;
	background: $primary-color-dark;
	/*border-bottom: 1px solid $primary-color-dark;*/
	position:relative;
	height: 60px;
	padding-top:0px;
	/*z-index:300;*/
	transition:250ms;

	span {
		display: inline-block;
		vertical-align: top;
		width: 15%;
		font-size: 18px;
		color: $primary-color-light;
		text-align: center;
		padding-top: 20px;
	}

	input {
		display: inline-block;
		color: $primary-color-light;

		vertical-align: top;
		height: 60px;
		width: 70%;
		border: 0;
		background: transparent;
		outline: 0;
		border-radius: 0;
		font-size: 18px;
		font-weight: lighter;
	}

	input::-webkit-input-placeholder {
		color: #B0BEC5;
	}

	a {
		width: 15%;
		display: inline-block;
		vertical-align: top;
		color:$green-light;
		font-size: 18px;
		text-decoration: none;
		font-weight: lighter;
		height:60px;
		padding-top: 18px;
	    padding-right: 20px;
	    cursor:pointer;
	    text-align: right;
	}

	i {
		/*width: 20%;*/
		/*padding-right: 5px;*/
		font-size: 24px;
		color:#F44336;
	}
}

/*.search-shift {
	margin-top:60px;
}*/



.beer-plus {
	font-size: 24px;
	color:$green-light;
	text-align: center;
	padding-top: 8px;
	height: 50px;
	width: 50px;
	transition:250ms;
}

.rotate {
	color:#B71C1C;
	-ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.location-arrow {
	font-size: 36px;
	/*background:$secondary-color-dark;*/
	color:$green-light;
	text-align: center;
	padding-top: 6px;
	height: 50px;
	width: 50px;
	transition:250ms;
	border-radius:3px;
}

.location-arrow-cancel {
	color: #B71C1C;
}

/* Module Header */

.module-header {
	width: 100%;
	background: $primary-color-dark;
	/*border-bottom: 1px solid $primary-color-dark;*/
	height: 60px;

	p {
		color:$text-color;
		font-size: 18px;
		font-weight: lighter;
		display: inline-block;
		vertical-align: top;
		height: 60px;
		padding-left: 20px;
	}

	a {
		color:$green-light;
		font-size: 18px;
		text-decoration: none;
		float: right;
		font-weight: lighter;
		height:60px;
		padding-top: 18px;
	    padding-right: 20px;
	    padding-left: 20px;
	}

	span {
		display: inline-block;
		padding-left: 5px;
		font-size: 24px;
		color:$primary-color-light;
	}
}


.top-header {
	width: 100%;
	background: $primary-color-dark;
	/*border-bottom: 1px solid $primary-color-dark;*/
	height: 140px;
	padding-top:100px;

	img {
		height: 25px;
		width: auto;
		margin-right:5px;
		display: inline-block;
		vertical-align: top;
	}

	p {
		color:$text-color;
		font-size: 18px;
		font-weight: lighter;
		display: inline-block;
		vertical-align: top;
		padding-right: 20px;
		width: 70%;
		text-align: right;
		float:right;
	}

	a {
		width: 30%;
		color:$green-light;
		font-size: 18px;
		text-decoration: none;
		font-weight: lighter;
		height:60px;
	    padding-left: 20px;
	    cursor: pointer;
	}

	i {
		padding-right: 5px;
		font-size: 22px;
	}
}


.center-header {
	text-align: center;
	padding-left:0;

	p {
		width: 100%;
		text-align: center;
		padding-left:0;
		padding-right:0;
	}
}

.backend-tabs-trigger {
	display: inline-block;
	height: 60px;
	padding-top: 18px;
	cursor:pointer;
}

.backend-tabs {
	width: 100%;
	position: relative;
	background: $primary-color-medium;
	/*top:70px;*/
	/*left: 10px;*/
	height: 60px;
	transition: 250ms;

	ul {
		list-style: none;
		padding-left: 0;
	}

	li {
		display: inline-block;
		font-size: 14px;
		font-weight: lighter;
		color: $primary-color-light;
		cursor:pointer;
		border-right:1px solid $primary-color-dark;
		border-left: 1px solid #455A64;
		/*padding: 15px 0;*/
		height: 60px;
		width: 17%;
		text-align: center;
	}

	li:hover {
		color: #fff;
	}

	li:nth-child(3) {
		width: 32%;
	}

	li:first-child {
		border-left: 0;
	}

	li:last-child {
		border-right: 0;
	}

	img {
		height: 25px;
		width: auto;
		display: inline-block;
		vertical-align: top;
		margin-top:18px;
	}

	span {
		margin-top:-20px;
		color: $primary-color-dark;
		font-size: 36px;
		padding-left:15px;
		position: absolute;
	}

	p {
		display: inline-block;
		vertical-align: top;
		font-size: 16px;
		color: $primary-color-light;
		padding-top: 18px;
	}
}

.backend-tabs-shift {
	top: 0px;
}


.profile-beer-list {
	width: 100%;
	background:$primary-color-light;


	ul {
		list-style: none;
		padding-left: 0;
		/*border-bottom: 1px solid #FFF;*/

	}

	li {
		display: inline-block;
		width: 100%;
		padding: 20px;
		border-bottom:1px solid #dfdfdf;
		border-top: 1px solid #f8f8f8;
	}

	span {
		width: 5%;
		text-align: center;
		font-size: 16px;
		display: inline-block;
		vertical-align: top;
		color: $primary-color-medium;
	}
}

/*.beer-list-header {
	text-align: center;

	p {
		padding-right: 0;
		padding-left: 0;
	}
}*/

.beer-avatar {
	display: inline-block;
	vertical-align: top;
	width: 15%;

	img {
		width: 100%;
		height: auto;
	}
}

.beer-name {
	width: 65%;
	display: inline-block;
	vertical-align: top;
	padding-left:10px;

	h1 {
		font-size: 14px;
		color: $secondary-color-dark;
		font-weight: 400;
	}

	h2 {
		font-size: 12px;
		font-style: italic;
		font-weight: lighter;
		display: block;
		color: $primary-color-medium;
	}
	p {
		font-size: 12px;
		display: block;
		color: #F44336;
	}
}

.beer-abv {
	width: 20%;
	display: inline-block;
	vertical-align: top;
	text-align: right;

	h1 {
		display:block;
		font-size: 14px;
		color:$primary-color-dark;
		font-weight: 400;
	}

	p {
		display:block;
		font-size: 12px;
		text-transform: lowercase;
		font-weight: lighter;
		color:#ccc;
	}
}

.beer-search-results, 
.bar-search-results {
	width: 100%;
	background:$primary-color-light;
	/*border-bottom: 1px solid $primary-color-medium;*/
	position: relative;


	ul {
		list-style: none;
		border-top: 1px solid #dfdfdf;
		border-bottom: 1px solid #f8f8f8;

		padding-left: 0;
	}

	li {
		display: inline-block;
		width: 100%;
		padding: 20px;
		border-bottom:1px solid #dfdfdf;
		border-top: 1px solid #f8f8f8;
	}

	span {
		width: 10%;
		text-align: center;
		font-size: 30px;
		display: inline-block;
		vertical-align: top;
		color: $green-light;
	}
}

.beer-results-name, 
.bar-results-name {
	width: 70%;
	display: inline-block;
	vertical-align: top;
	padding-left:10px;

	h1 {
		font-size: 14px;
		color: $secondary-color-dark;
		font-weight: 400;

	}

	h2 {
		font-size: 12px;
		font-style: italic;
		display: block;
		color: $primary-color-medium;
		font-weight: lighter;

	}
}

.beer-results-avatar, 
.bar-results-avatar {
	display: inline-block;
	vertical-align: top;
	width: 10%;

	img {
		width: 100%;
		height: auto;
	}
}

.beer-results-abv {
	width: 20%;
	display: inline-block;
	vertical-align: top;
	text-align: right;

	h1 {
		display: block;
		font-size: 14px;
		color:$text-color;
	}

	p {
		display: block;
		font-size: 12px;
		color:$text-color;
		text-transform: lowercase;
		font-weight: lighter;
	}
}

.beer-results-add {
	width: 20%;
	display: inline-block;
	vertical-align: top;
	text-align: center;

	span {
		color: $green-light;
		font-size: 28px;
	}
}

.middle-column {
	right: 0;
	/*height:auto;*/
	/*left:0;*/
	position:absolute;
	background:$primary-color-light;
	display: inline-block;
	/*padding-bottom:50px;*/
	width: 100%;
	/*overflow-y: scroll;*/
	transition:250ms;
}

.left-column {
	background:$primary-color-dark;
	display: inline-block;
	padding-bottom:50px;
	width: 100%;
	/*overflow-y: scroll;*/
	transition:250ms;
}


.middle-column::-webkit-scrollbar { 
    display: none; 
}



.profile-right-shift {
	margin-top: 156px;
}

/* Bar Backend Feed */

.profile-tools {
	width: 100%;
	background:$primary-color-light;
	text-align: left;
	padding: 0px;
}

#business-status {
    width: 100%;
    border: 0;
    outline: none;
    background: #fff;
    font-size: 16px;
    line-height: 24px;
    resize: none;
    padding: 30px 30px 15px 30px;
    color: #000;
    font-weight: lighter;
}

.verified-container {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	text-align: right;
	float:right;

	span {
		margin-top:16px;
		display: inline-block;
		font-size:16px;
		color: $green-dark;
	}

	p {
		display: inline-block;
		font-size:14px;
		color:#689F38;
		padding-left:5px;
		font-weight: lighter;
		vertical-align:top;
		margin-top:15px;
	}
}

.posting-options {
    background: transparent;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding: 0px 30px 5px 30px;
    background: #f8f8f8;
    border-top:1px solid #dfdfdf;
	border-bottom:1px solid #dfdfdf;


	button {
		display: inline-block;
		vertical-align: top;
		width: 20%;
		font-size:14px;
		background: $secondary-color-medium;
		height: 30px;
		border-radius:3px;
		outline: 0;
		border:0;
		color:$text-color;
		font-weight: lighter;
		margin-top:10px;
		cursor: pointer;
		position:relative;
		z-index:1;
	}

	i {
		width: 32px;
		height: 40px;
		display: inline-block;
		font-size: 16px;
		color: $primary-color-dark;
		margin-top:5px;
		padding-top: 12px;
		padding-left: 12px;
		cursor: pointer;
	}

	input[type="file"] {
		position:absolute;
		display: inline-block;
		vertical-align: top;
		width: 50%;
		padding-top:17px;
		margin-left:-79px;
		z-index:0;
		font-size: 12px;
		-webkit-appearance: none;
	    -webkit-border-radius:0;

	    &:focus {
			outline-style:none;
			box-shadow:none;
			border-color:transparent;
		}
	}

	label {
		display: inline-block;
		background: #f8f8f8;
		position:relative;
		z-index:1;
	}
}

.profile-feed {
	width: 100%;
	background:$primary-color-light;


	ul {
		list-style: none;
		padding-left: 0;
	}

	li {
		width: 100%;
/*		border-top:1px solid #f5f5f5;
		border-bottom: 1px solid #dfdfdf;*/
		position: relative;
		padding: 15px 15px 0px;
	}
}

.feed-info {
	background: #fff;
	padding:15px 15px 0px;
}

.feed-name {
	width: 70%;
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;

	p {
		font-size: 12px;
		font-style: italic;
		color: $primary-color-medium;
		font-weight: lighter;
		padding-top: 5px;
	}

	h1 {
		font-size: 14px;
		color: $primary-color-medium;
	}
}

.feed-avatar {
	width: 10%;
	display: inline-block;
	vertical-align: top;

	img {
		width: 100%;
		height: auto;
	}
}

.feed-post {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	border:1px solid #dfdfdf;
}

.feed-photo {
	background:#fff;
	padding-top: 15px;
	width: 100%;

	img {
		width: 100%;
		height: auto;
	}
}

.feed-ago {
	width: 50%;
	display: inline-block;
	text-align: right;
	vertical-align: bottom;

	p {
		font-size: 12px;
		color: #999;
		font-weight: lighter;
		font-style: italic;
		padding-bottom:3px;
	}
}

.feed-status {
	width: 100%;
	display: inline-block;

	p {
		font-size: 14px;
		line-height: 20px;
		font-weight: lighter;
		color: $primary-color-medium;
		padding-bottom: 10px;
	}



	div {
		width: 100%;
		background: #fff;
		/*border-radius: 4px;*/
		padding: 15px ;

		span {
			font-size: 13px;
			line-height: 20px;
			font-weight: lighter;
			/*font-style: italic;*/
			padding-top:15px;
			color: $primary-color-medium;
		}
	}


}

.photo-info {
	padding-bottom: 0;
}

/* Feed Controls */

.feed-controls {
	width: 100%;
	display: inline-block;
	padding:10px 15px 10px;
	border-top:1px solid #dfdfdf;
	background:#f8f8f8;
	/*text-align: center;*/

}

.feed-remove {
	width: 50%;
	display: inline-block;
	/*border-right:1px solid #dfdfdf;*/
	/*text-align: center;*/

	i {
		font-size: 20px;
		color: #ccc;
		display: inline-block;
		vertical-align: top;
		padding-right: 20px;
		padding-left: 0px;
		padding-top: 0px;
		cursor: pointer;
	}

	p {
		display: inline-block;
		vertical-align: top;
		font-size:12px;
		font-weight: lighter;
		color: #ccc;
		padding-right:5px;
	}
}

/* View All */

.view-all {
	width: 100%;
	border-top:1px solid #f8f8f8;
	background:$primary-color-light;
	text-align: center;
	padding: 15px 0;
	/*margin-bottom: 25px;*/

	a {
		font-size: 16px; 
		color: $secondary-color-dark;
		font-weight: lighter;
		text-decoration: none;
	}
}

.view-all-dark {
	width: 100%;
	border-top:1px solid #455A64;
	background:$primary-color-medium;
	text-align: center;
	padding: 15px 0;
	/*margin-bottom: 25px;*/

	a {
		font-size: 16px; 
		color: $secondary-color-light;
		text-decoration: none;
		font-weight: lighter;
	}
}

/* Homepage Video */

.homepage-video {
	width: 100%;
	text-align: center;
	padding: 100px 0;
	background:$primary-color-medium;
}

/* Slideout Panel */

.left-slideout {
	position: absolute;
	left:-100%;
	height: 100vh;
	width: 480px;
	transition: 250ms;
	background: $primary-color-light;
}

.top-slideout {
	position: fixed;
	top: 0;
	height: 80px;
}

.toggle-left-slideout {
	left: 0;
}

.settings-slideout {
	position: absolute;
	left: 0;
	height: 100%;
	width: 100%;
	transition: 250ms;
	background: $primary-color-light;
}




/* Bar Slideout */

.right-slideout {
	position: fixed;
	z-index: 10;
/*	right:-480px;
*/	bottom:-100%;
	height: 100%;
	width: 480px;
	transition: 250ms;
	background: $primary-color-light;
	overflow: scroll;
	padding-bottom: 80px;
}

.settings-column {
	position: fixed;
	z-index: 10;
/*	right:-480px;
*/	bottom:-100%;
	height: 100%;
	width: 480px;
	transition: 250ms;
	background: $primary-color-light;
	overflow-x: hidden;
	overflow-y: scroll;	
	padding-bottom: 80px;
}

.right-slideout1, 
.right-slideout2, 
.info-slideout, 
.sunday-slideout {
	position: absolute;
	z-index: 10;
	top: 0px;
	right:-100%;
	height: 100%;
	width: 100%;
	transition: 250ms;
	background: $primary-color-light;
	overflow: scroll;
	padding-bottom: 80px;
}

.calendar-column-transition {

}

.calendar-column, 
.beer-column {
	position: relative;
	z-index: 10;
	top: 0;
	right:0;
	min-height: 100vh;
	width: 100%;
	transition: 250ms;
	background: $primary-color-light;
	overflow-x: hidden;
	overflow-y: scroll;	
	padding-bottom: 80px;
}

.calendar-slideout {
	position: absolute;
	left: 0;
	top:80px;
	transition:250ms;
	width: 100%;
}

.container-shift-right {
	right: -100%;
	transition:250ms;
}

.container-shift-left {
	left: -100%;
	transition:250ms;
}

/* No Scrollbar */

.right-slideout::-webkit-scrollbar { 
    display: none; 
}

.right-slideout1::-webkit-scrollbar { 
    display: none; 
}

.right-slideout2::-webkit-scrollbar { 
    display: none; 
}

.calendar-column::-webkit-scrollbar { 
    display: none; 
}

.calendar-slideout::-webkit-scrollbar { 
    display: none; 
}

.info-slideout::-webkit-scrollbar { 
    display: none; 
}

.sunday-slideout::-webkit-scrollbar { 
    display: none; 
}

.toggle-bottom-slideout {
	bottom: 0px;
	transition: 250ms;
}

.toggle-right-slideout {
	right: 0px;
	transition: 250ms;
}

/* Animated Hamburger Toggle */

/* Icon 1 */

#nav-toggle {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 50px;
	cursor: pointer;
    padding-top: 15px;
    padding-left: 3px;
	/*background: $primary-color-dark;*/
	border-radius: 3px;
	/*margin-left:10px;*/
}

#nav-icon1 {
float:left;
  width: 15%;
  height: 42px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 25px;
  background: $text-color;
  border-radius: 1px;
  opacity: 1;
  left: 10px;
  top:10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 9px;
}

#nav-icon1 span:nth-child(3) {
  top: 18px;
}

#nav-icon1.open span {
	background:#F44336;
}

#nav-icon1.open span:nth-child(1) {
  top: 9px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 9px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.hidden {
	display: none;
}

.active-tab {
	background: $primary-color-medium;
}

/* Bar Settings */

.settings-container, 
.calendar-container {

	background: $primary-color-light;

	ul {
		list-style: none;
		padding-left: 0;
	}

	li {
		padding: 20px 30px;
		display: block;
		border-bottom:1px solid #dfdfdf;
		transition:250ms;
		cursor: pointer;

	}

	li:hover, 
	li:focus {
		background:#fff;
	}

	p {
		display: inline-block;
		vertical-align: top;
		font-size: 16px;
		color: $primary-color-dark;
		padding-left: 10px;
		font-weight: lighter;
		width: 80%;
	}

	span {
		display: inline-block;
		vertical-align: top;
		font-size: 18px;
		color: $secondary-color-dark;
		width: 10%;
		text-align: center;
	}

	i {
		font-size: 18px;
		color: $green-light;
		display: inline-block;
		vertical-align: top;
		width: 10%;
		text-align: right;
	}
}

.settings-sublist, 
.calendar-sublist {
	display: block;
	background: $primary-color-light;

	ul {
		list-style: none;
		padding-left: 0;
	}

	li {
		display: block;
		padding: 15px 30px;
		border-bottom: 1px solid #dfdfdf;
	}

/*	li:hover, 
	li:focus {
		background:;
	}*/

	input {
		height: 30px;
		width: 75%;
		display: inline-block;
		vertical-align: top;
		font-size: 16px;
		text-indent: 10px;
		font-weight: lighter;
		border: 0;
		background: transparent;
		outline: 0;

		&:focus {
			outline:0;
		}
	}

	h1 {
		font-size: 10px;
		width: 25%;
		text-align: right;
		display: inline-block;
		padding-right: 10px;
		padding-top:10px;
		font-weight: 400;
		color: $secondary-color-medium;
		vertical-align: top;
		text-transform: uppercase;
	}

	textarea {
		width:100%;
		height: 100px;
		border:0;
		border-radius: 4px;
		font-size: 16px;
		padding: 10px;
		font-weight: lighter;
		resize: none;
		border:1px solid #dfdfdf;

		&:focus {
			outline:none;
		}
	}

	select {
		font-size: 16px;
		margin-left:10px;
		-webkit-appearance: none;
    	-webkit-border-radius:0;
    	border:0;
    	background:transparent;
    	font-weight: lighter;
    	width:60%;
    	height: 28px;

    	&:focus {
    		outline:0;
    	}
	}
}

.settings-avatar {
	display: block;
	background: $primary-color-light;

	ul {
		list-style: none;
		padding-left: 0;
	}

	li {
		display: block;
		padding: 15px 30px;
		border-bottom: 1px solid #dfdfdf;

	}

	input {
		width: 80%;
		display: inline-block;
		vertical-align: top;
		font-size: 16px;
		font-weight: lighter;
		border: 0;
		background: transparent;
		outline: 0;

		&:focus {
			outline-style:none;
			box-shadow:none;
			border-color:transparent;
		}
	}

	h1 {
		font-size: 16px;
		width: 20%;
		text-align: right;
		display: inline-block;
		padding-right: 10px;
		padding-top:5px;
		font-weight: lighter;
		color: $secondary-color-dark;
	}

	input[type="file"] {
		cursor: pointer !Important;
		font-weight: lighter;
		width: 100%;
		background: #fff;
		height: 50px;
		overflow:hidden;
		-webkit-appearance: none;
	    -webkit-border-radius:0;
	   	border-radius: 4px;

	  
	  &::-webkit-file-upload-button {
	    background: $secondary-color-dark;
	    border: 0;
	    cursor: pointer;
	    padding: 16px 15px 17px 25px;
	    color: #fff;
	    border-radius: 4px 0 0 4px;
	    font-weight: lighter;
	    font-size:14px;
	    margin-left:-10px;

	    &:focus {
			outline-style:none;
			box-shadow:none;
			border-color:transparent;
		}
	  }
	  
	  &::-ms-browse {
	    background: $secondary-color-dark;
	    border: 0;
	    padding: 11px;
	    cursor: pointer;
	    color: #fff;
	    border-radius: 4px 0 0 4px;
	    font-weight: lighter;
	  }

	}
}

.bar-info, 
.bar-avatar, 
.bar-sunday {
	cursor: pointer;
}

.bar-info-back, 
.bar-avatar-back {
	cursor:pointer;
}

.show {
	display: inline-block;
	margin-top:-45px;
	z-index: 50;
    position: relative;
}

.save-button {
	width: 100%;
	margin: 0 auto;
	height: 55px;
	background: $secondary-color-dark;
	font-size: 16px;
	font-weight: lighter;
	color: $text-color;
	border-radius: 3px;
	text-align: center;
	outline: 0;
	border: 0;
}

.avatar-container {
	width: 100%;
	padding: 30px 30px 15px;
	text-align: center;
}

.avatar-preview {
	width: 150px;
	height: 150px;
	background: #fff;
	padding: 5px;
	/*border-radius: 75px;*/

	img {
		width: 140px;
		height: 140px;
			/*border-radius: 75px;*/

	}
}

.avatar-options {
	background: transparent;
	width: 100%;
	display: inline-block;
	vertical-align: top;
	text-align: left;

	button {
		display: inline-block;
		vertical-align: top;
		width: 43.5%;
		font-size:14px;
		background: $secondary-color-medium;
		height: 30px;
		border-radius:3px;
		outline: 0;
		border:0;
		color:$text-color;
		font-weight: lighter;
		margin-top:10px;
		cursor: pointer;
		position:relative;
		z-index:1;
	}

	i {
		width: 32px;
		height: 40px;
		display: inline-block;
		font-size: 16px;
		color: $primary-color-dark;
		margin-top:5px;
		padding-top: 12px;
		padding-left: 12px;
		cursor: pointer;
	}

	input[type="file"] {
		position:absolute;
		display: inline-block;
		vertical-align: top;
		width: 50%;
		padding-top:17px;
		margin-left:-79px;
		z-index:0;
		font-size: 12px;
		-webkit-appearance: none;
	    -webkit-border-radius:0;

	    &:focus {
			outline-style:none;
			box-shadow:none;
			border-color:transparent;
		}
	}

	label {
		display: inline-block;
		background:$primary-color-light;
		position:relative;
		z-index:1;
	}
}

#file-input {
	font-weight: lighter;
}

#basicExample {
	font-size: 14px;
}

input[type="file"] {
	-webkit-appearance: none;
    -webkit-border-radius:0;
}

@media screen and (min-width : 0px) and (max-width : 500px) {

	.header-container, 
	.wide-container, 
	.main-container, 
	.header-logo, 
	.middle-column, 
	.settings-column, 
	body, 
	.home-container, 
	.sidebar {
		width: 100%;
	}

}



